<!-- <div class="banner">
  <h6 class="text-center">SHREE AMMAN PHARMA PRIVATE LIMITED</h6>
</div> -->
<nav class="navbar navbar-expand-md bg-primary fixed-top navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/icons/logoeasysolLogo.png" class="img-fluid"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/order']">Order Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Order Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/customer']">Customer</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-1x fa-user-circle" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu ddmenu">
          <a class="dropdown-item" [routerLink]="['/customer']"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
        </div>
      </li>
    </ul>
</div>
   
</nav>
