<app-navbar></app-navbar>

<div class="container-fluid mtop">
  <div class="card">
      <div class="panel panel-default ">
          <div class="panel-heading bg-default p-1 boxShadow border border-bottom-1">Item Order <span class="text-primary"> <i class="fa fa-user" aria-hidden="true"></i> {{selectedUser}}</span> </div>
          <div class="panel-body">
                <div class="card-body">
                        <form #orderform="ngForm">
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="">Item Name</label>
                                        <!-- <span class="ml-3 text-danger" *ngIf="itemName.invalid && (itemName.dirty || itemName.touched)">Required Field*</span> -->
                                        <!-- <input type="text" name="itemName" id="" placeholder="Item Name" autocomplete="off" class="form-control" [(ngModel)]="order.itemName" #itemName = "ngModel" required> -->
                                        <!-- <select name="productList" id="" placeholder="Select Product" autocomplete="off" class="form-control" [(ngModel)]="order.itemName" #itemName = "ngModel" (click)="itemSelected()" required>
                                            <option *ngFor="let item of productName" value="{{item}}"> {{item}} </option>
                                        </select> -->
                                        <ngx-select-dropdown (change)="selectionChanged($event)" name="itemName" id="itemName" [config]="config" [options]="productList" autocomplete="off" class="form-control" [(ngModel)]="order.itemName" style="padding: 0 0 !important;"></ngx-select-dropdown>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="">Qty</label> 
                                        <input type="number" min="1" max="100000" name="qty" id="" [(ngModel)]="order.qty" placeholder="0" class="form-control" #qty="ngModel" required>
                                        <span class="ml-3 text-danger" *ngIf="qty.invalid && (qty.dirty || qty.touched)">Required Field*</span>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="">Bal. Qty</label>
                                        <input type="text" name="balQty" id="" [(ngModel)]="order.balQty" placeholder="0" class="form-control"  readonly>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
                                    <div class="form-group">
                                        <label for="">Pack</label>
                                        <input type="text" name="pack" id="" [(ngModel)]="order.pack" placeholder="Pack" class="form-control" readonly>
                                    </div>
                                </div>
                            <!-- </div>
                            <div class="row"> -->
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                    <div class="form-group">
                                        <label for="">Scheme</label>
                                        <input type="text" name="scheme" id="" [(ngModel)]="order.scheme" placeholder="Scheme" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
                                    <div class="form-group">
                                        <label for="">MRP</label>
                                        <input type="text" name="mrp" id="" [(ngModel)]="order.mrp" placeholder="MRP" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
                                    <div class="form-group">
                                        <label for="">Rate</label>
                                        <input type="text" name="rate" id="" [(ngModel)]="order.rate" placeholder="Rate" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label class="mr-2 mt-3">Total Price : </label> <span><i class="fa fa-rupee"></i>  </span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group mt-3 pull-right">
                                        <button class="btn btn-primary btn-sm mr-2" [disabled]="orderform.invalid" (click)="createOrder()"> <i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button class="btn btn-danger btn-sm" (click)="reset()"> <i class="fa fa-recycle" aria-hidden="true"></i> Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                      </div>
          </div>

      </div>
  </div>
  <div class="card boxShadow mt-1">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-striped table-hover text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Qty</td>
                        <td>Item Name</td>
                        <td>PacK</td>
                        <td>Scheme</td>
                        <td>MRP</td>
                        <td>Rate</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-pencil text-primary" aria-hidden="true" (click)="editRow()" *ngIf="isClicked == false"></i>
                            <i class="fa fa-times" *ngIf="isClicked == true" (click)="cancelEdit()"></i>
                        </td>
                        <td>
                            <i class="fa fa-recycle text-danger" aria-hidden="true"></i>
                        </td>
                        <td>
                            <!-- <div> -->
                                <input type="number" min="1" max="100000" name="" id="updateQty" class="qtytxt" [readonly]="isReadOnly">
                            <!-- </div> -->
                        </td>
                        <td>Item Name</td>
                        <td>PacK</td>
                        <td>Scheme</td>
                        <td>MRP</td>
                        <td>Rate</td>
                        <td>Amount</td>
                    </tr>
                </tbody>
              </table>
              <button class="btn btn-success pull-right"> <i class="fa fa-save"></i> Save</button>
          </div>
      </div>
  </div>
</div>
