/* .loginBackground{
    background: url('../../assets/images/loginBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */
.loginBox{
    background: linear-gradient(45deg, black, transparent);;
    height: 500px;
    width: 400px;
    margin: 70px 10px 75px 10px; 
    padding: 20px;
    align-content: center
}
.loginBox>.iconPos{
    position: relative;
    top: -65px
}
.loginBox>.loginForm{
    margin-top: -10px;
}
.easySolLogo{
    margin: 10px;
    background: transparent;
    position: relative;
    top: -40px;
}
button:disabled{
    cursor: not-allowed;
}