<div class="loginBackground">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="logo">
          <span class="text-center easySolLogo">
            <img src="../../assets/images/icons/logoeasysolLogo.png" alt="" srcset="">
          </span>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="loginBox">
          <div class="iconPos text-center"><i class="fa fa-5x fa-user-circle" aria-hidden="true"></i></div>
          <form class="loginForm text-white">
            <div class="form-group">
              <label for="">User ID</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="" name="" placeholder="User ID" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text"> <i class="fa fa-user" aria-hidden="true"></i> </span>
                </div>  
              </div>
            </div>
            <div class="form-group mt-4">
              <label for="">Password</label>
              <div class="input-group mb-3">
                <input type="password" class="form-control" id="" name="" placeholder="Password">
                <div class="input-group-append">
                    <span class="input-group-text"> <i class="fa fa-lock" aria-hidden="true"></i> </span>
                </div>  
              </div>
            </div>
            <div class="form-group mt-4">
              <input type="checkbox" name="" id=""> Remember Password
            </div>
            <div class="form-group mt-4">
              <button class="btn btn-success btn-block"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>