/* You can add global styles to this file, and also import other style files */
@import url(~node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(~node_modules/font-awesome/css/font-awesome.css);

.bgTheme{
    background: url('assets/images/loginBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}