<app-navbar></app-navbar>

<div class="mtop">
  <div class="searchBar">
      <form>
        <div class="row mt-2">
          <div class="col-lg-4">
              <label for="">Search Customer</label>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="" name="" #custName placeholder="Customer Name" >
              <div class="input-group-append">
                <button class="btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
              </div>  
            </div>
          </div>
          <!-- </div> -->
          <div class="col-lg-2"></div>
        </div>
      </form>
    </div>
</div>

<div class="mt-4">
    <div class="searchBar">
        <div class="table-responsive">
          <table class="table table-border table-hover">
            <thead class="bg-primary text-white">
              <tr>
                <th>View</th>
                <th>Code</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Orders</th>
              </tr>
            </thead>
            <tbody class="bg-secondary text-white">
                <tr>
                  <td>
                    <a>Select</a>
                  </td>
                  <td>Code</td>
                  <td>Customer Name</td>
                  <td>Address</td>
                  <td>Orders</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>